<form>
    <!-- <input type="hidden" name="paymentDetailId" [value]="service.formData.paymentDetailId" /> -->
    <div class="form-group">
        <label>CARD OWNER NAME</label>
        <!-- <input class="form-control form-control-lg" placeholder="Full Name" 
        name="cardOwnerName" #cardOwnerName="ngModel" [(ngModel)]="service.formData.cardOwnerName" > -->
        <!-- <input class="form-control form-control-lg"
        name="password" #cardOwnerName="ngModel" [(ngModel)]="cardOwnerName" /> -->
        <!-- <input type="text" class="form-control" id="name"  required  [(ngModel)]="data.name" /> -->
    </div>
</form>
