.form-group label {
    color:grey;
}

.form-group input {
    font-weight: 500;
}

.form-group input:placeholder {
    color: antiquewhite;
    font-weight: 300;
}

thread th {
    font-weight: 400;
}

table tbody tr:hover {
    background-color: aqua;
    cursor: pointer;
}

input.invalid {
    border-color: red;
}